#bill_container {
    width: 375px;
    height: 559px;
    overflow: hidden;
    margin: auto;
    background-image : url("/imgs/fence.png");
    margin: auto;
    background-repeat: no-repeat;
    background-position: bottom;                      
}

#bills {
    width: 1875px;
    height: 100%;
}

.bill {
    display: block;
    width: 375px;
    float: left;
}

.billTitle {
   display: block;
   font-size: medium;
   font-weight: bold;
   text-align: center;
   margin-top: 20px;
   margin-bottom: 20px;   
}

.billSummary {
    display: block;
    text-align:justify;
    marge-bottom: 20px;
}
